.Rproj.user
.Rhistory
.RData
*.Rproj
*.pdf
*.html
*.docx
*.text
*.tex
*.xls
*.XLS
*.xlsx
*.doc
*.csv
*.pptx
*.ppt
*.db
*.placeholder
*.phxproj
*.png
*.xpt
*.XPT
run*/
*.ext
*.phi
*.lst
*.mod.org
MYTAB*
SIMTAB*
*.zip
*.sas7bdat
data/
scm_run*/
*.Rdata
*.rdb
*.rdx
*vpcrun*/
reports/MAD/
reports/PHASE3/
*.cor
*.coi
*.cov
*cache/
msfb*
